Exercise 3/ssd-ss15-exercise3/.idea/.name
Exercise 3/ssd-ss15-exercise3/.idea/libraries/lib.xml
Exercise 3/ssd-ss15-exercise3/.idea/misc.xml
Exercise 3/ssd-ss15-exercise3/.idea/modules.xml
Exercise 3/ssd-ss15-exercise3/.idea/scopes/scope_settings.xml
Exercise 3/ssd-ss15-exercise3/.idea/vcs.xml
Exercise 3/ssd-ss15-exercise3/.idea/workspace.xml
